.team-n-advisor{
    padding: 30px 0;
    @media screen and (max-width: 767px) {
        padding: 10px 0;
    }


    .section-body{
        text-align: center;
        padding-top: 10px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        @media screen and (max-width: 1199px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media screen and (max-width: 991px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (max-width: 576px) {
            grid-template-columns: repeat(2, 1fr);
        }

        .item{
            padding: 15px 10px;

            .member-card{
                .image{
                    img{
                        border-radius: 50%;
                    }
                }

                .text{
                    padding: 15px 0;
                    .name{
                        font-weight: bolder;
                    }
                    
                    p{
                        font-weight: lighter;
                        color: rgba($color-black, 0.5);
                    }
                }
            }
        }
    }
}